<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.BedInfoMapper" >
  <resultMap id="BaseResultMap" type="com.entity.BedInfo" >
    <id column="bed_id" property="bedId" jdbcType="INTEGER" />
    <result column="bed_no" property="bedNo" jdbcType="INTEGER" />
    <result column="bed_price" property="bedPrice" jdbcType="INTEGER" />
    <result column="bed_state" property="bedState" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bed_info
    where bed_id = #{bedId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.BedInfo" >
    insert into bed_info (bed_id, bed_no, bed_price, 
      bed_state)
    values (#{bedId,jdbcType=INTEGER}, #{bedNo,jdbcType=INTEGER}, #{bedPrice,jdbcType=INTEGER}, 
      #{bedState,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.entity.BedInfo" >
    update bed_info
    set bed_no = #{bedNo,jdbcType=INTEGER},
      bed_price = #{bedPrice,jdbcType=INTEGER},
      bed_state = #{bedState,jdbcType=INTEGER}
    where bed_id = #{bedId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select bed_id, bed_no, bed_price, bed_state
    from bed_info
    where bed_id = #{bedId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select bed_id, bed_no, bed_price, bed_state
    from bed_info
  </select>
</mapper>